.base {
  margin: 32px 0;
  border-top: 1px solid #d1d1d1;
}

.heading {
  margin-top: 32px;
  margin-bottom: 8px;
}

.heading button {
  margin-left: 8px;
  margin-bottom: 16px;
}

.result {
  font-size: 32px;
  margin-top: 0;
}

.empty {
  color: grey;
  font-style: italic;
}
