.base * {
  box-sizing: border-box;
}

.base {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  padding: 0 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-bottom: 80px;
}
